.singIn_Field {
    width: 44.8rem;
    font-size: 1.6rem;
    max-width: 100%;
    padding: 4.8rem 2.4rem;
    margin-right: auto;
    margin-left: auto;
   
}
.singIn_Title {
    /* text-align: center; */
    margin-bottom: 12px;
}
.singIn_button {
    /* text-align: center; */
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    /* margin-left: ; */
    background-color: #fff;
    width: 100%;
    margin-bottom: 0.8rem;
    height: 3rem;
}
.singIn_button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.04);
    /* opacity: 0.3; */
}

.svg_image {
    width: 40px;
    margin: 0 ;
}
.singIn_button > span {
    /* text-align: center; */
    font-size: 16px;
    margin-left: 8px;
}
.input_wrapper {

}
.singIn_Input {
    /* display: flex;
    align-items: center; */
    border: 1px solid #ccc;
    /* margin-left: ; */
    background-color: #fff;
    width: 100%;
    margin-bottom: 0.8rem;
    height: 3rem;
    padding: 0 8px;
}
.submit_button {
    background-color: #a435f0;
    font-size: 16px;
}
.submit_button:hover {
    background-color: #8710d8;
    cursor: pointer;
}
.help_auth__footer {
   text-align: center; 
}
.help_signUp__wrapper {
 font-size: 12px;
}
.helper_author_footer__link {
    /* color: #a435f0; */
    /* font-weight: bold; */
}
.helpers_auth_separator__2mEsg {
    border-top: 1px solid #d1d7dc;
    margin: 1.6rem 0;
}
.helper_author_footer__link_sign_in {
    color: #a435f0;
    font-weight: bold;
}
.helper_author_footer__link_sign_in:hover {
    cursor: pointer;
}
.form_group__strength {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    gap: 0.2rem;
    min-height: 1.6rem;
    margin-bottom: 16px;
}
.form_group__strength_indicators {
    background: #d1d7dc;
    border-radius: 9999px;
    height: 0.25rem;
    width: 2.6rem;
}